apiVersion: v1
kind: Pod
metadata:
  labels:
    test: {{label}}
  name: {{name}}
  namespace: {{namespace}}
spec:
  containers:
  - name: readiness
    image: registry.k8s.io/busybox
    args:
    - /bin/sh
    - -c
    - sleep {{delay}} && touch /tmp/healthy && sleep 600
    readinessProbe:
      exec:
        command:
        - cat
        - /tmp/healthy
      periodSeconds: 1