apiVersion: v1
kind: Pod
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    {% if random_label %}
    random: {{random_label}}
    {% endif %}
spec:
  containers:
  - image: quay.io/krkn-chaos/krkn-lib:fedtools
    command:
      - /bin/sh
      - "-c"
      - "dmesg && sleep 60m"
    securityContext:
       privileged: true
    imagePullPolicy: IfNotPresent
    name: {{ name }}
  {% if has_node_selector %}
  nodeSelector:
    kubernetes.io/hostname : {{node_name}}
  {% endif %}
  restartPolicy: Always