apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{name}}
  namespace: {{namespace}}
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 100Mi
  storageClassName: {{storage_class}}
  hostPath:
    path: /data/pv0001/