apiVersion: v1
kind: Service
metadata:
  name: {{name}}
  namespace: {{namespace}}
  labels:
     test: service
spec:
  selector:
    app: pause
  ports:
    - protocol: TCP
      port: 80
      targetPort: 9376
