apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{name}}
  namespace: {{namespace}}
spec:
  serviceName: pause
  replicas: 3
  selector:
    matchLabels:
      app: pause
  template:
    metadata:
      labels:
        app: pause
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name: pause
          image: >-
            gcr.io/google-containers/pause-amd64:3.0